.social-login
    button.social-login__github
        a(href=routes.github)
            span
                i.fab.fa-github
            span.social-login__title | Continue with Github
    button.social-login__facebook
        a(href=routes.kakao)
            span
                i.fab.fa-facebook
            span.social-login__title | Continue with Facebook