.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 50px;
    button {
      width: 100px;
      margin-bottom: 15px;
      font-weight: 400;
      background-color: #f53b57;
    }
    .video__author {
      a {
        color: #ed4c67;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 25px;
    }
    .video__views {
      font-size: 13px;
    }
    .video__description {
      font-size: 17px;
    }
  }
  .video__comments {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    .video__comments-comment {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .video__comment-number {
        font-size: 15px;
        margin-right: 50px;
      }
      .add__comments {
        max-width: 600px;
        width: 100%;
      }
    }
    .video__comments-list {
      margin-top: 30px;
      li {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        span {
          padding: 8px 20px;
          border-radius: 20px;
          border-bottom-left-radius: 0px;
          background-color: #ff7675;
          color: white;
        }
      }
    }
  }
}
